Repository Higashi-Kota/typescript-backend-api-first-lesson, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @backend-team, @frontend-team, @devops-team, @docs-team

Update ci/cd
  .claude/agents/backend-typescript-architect.md
  .env.example
  Dockerfile
  Makefile
  README.md
  backend/packages/api/src/__tests__/_shared/setup.ts
  backend/packages/api/vitest.config.ts
  backend/packages/config/src/index.ts
  backend/packages/database/sql/setup.sql
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  docker-compose.yml
  docs/README.md
  docs/architecture-overview.md
  docs/development-workflow.md
  docs/env-configuration.md
  docs/error-tracking-and-monitoring.md
  prometheus.yml
Owners: @docs-team, @your-github-username, @devops-team, @backend-team

Polish build script
  .github/workflows/ci.yml
  Makefile
  backend/packages/database/sql/setup.sql
  backend/packages/generated/package.json
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  frontend/packages/assets/package.json
  frontend/packages/config/package.json
  frontend/packages/io/package.json
  frontend/packages/message/package.json
  frontend/packages/stores/package.json
  frontend/packages/types/package.json
  frontend/packages/utils/package.json
  frontend/packages/validations/package.json
  package.json
Owners: @devops-team, @backend-team, @frontend-team, @your-github-username

Polish frontend settings
  README.md
  backend/packages/database/sql/setup.sql
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  frontend/apps/admin-app/package.json
  frontend/apps/admin-app/postcss.config.js
  frontend/apps/dashboard-app/package.json
  frontend/apps/dashboard-app/postcss.config.js
  frontend/apps/dashboard-app/src/App.tsx
  frontend/apps/portal-app/package.json
  frontend/apps/portal-app/postcss.config.js
  frontend/packages/ui/package.json
  package.json
  pnpm-lock.yaml
  shared-config/package.json
  shared-config/postcss.config.js
  tailwind.config.ts
Owners: @docs-team, @backend-team, @frontend-team, @your-github-username

Update cd settings
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
  backend/packages/api/package.json
  backend/packages/config/package.json
  backend/packages/database/package.json
  backend/packages/database/sql/setup.sql
  backend/packages/domain/package.json
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  backend/packages/infrastructure/package.json
  backend/packages/utility/package.json
  docker-compose.yml
Owners: @devops-team, @your-github-username, @backend-team

Update docs
  .claude/agents/backend-typescript-architect.md
  .claude/agents/database-schema-architect.md
  CLAUDE.md
  Makefile
  README.md
  docs/architecture-overview.md
  docs/development-workflow.md
Owners: @docs-team, @devops-team

Update dockerfile
  CLAUDE.md
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
  Makefile
Owners: @docs-team, @your-github-username, @devops-team

Update dockerfile
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
Owners: @your-github-username

Update dockerfile (#17)
  CLAUDE.md
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
  Makefile
Owners: @docs-team, @your-github-username, @devops-team

Add precheck
  .github/workflows/docker-validation.yml
  docs/docker-cicd-workflow.md
Owners: @devops-team, @docs-team

Update workflow settings
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-validation.yml
Owners: @devops-team

Omit workflow settings docs
  docs/docker-cicd-workflow.md
Owners: @docs-team

Update workflow settings (#18)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-validation.yml
Owners: @devops-team

Update
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
Owners: @your-github-username

Update makefile
  Makefile
Owners: @devops-team

Update gh workflow (#19)
  Dockerfile.backend
  Dockerfile.frontend.admin
  Dockerfile.frontend.dashboard
  Dockerfile.frontend.portal
  Makefile
Owners: @your-github-username, @devops-team

Uniform envfile kitting
  .env.development
  .env.localhost
  .env.production
  .env.staging
  .env.test.example
  Makefile
  backend/packages/api/package.json
  backend/packages/config/package.json
  backend/packages/database/drizzle.config.ts
  backend/packages/database/package.json
  backend/packages/database/sql/setup.sql
  backend/packages/database/src/scripts/generate-setup-sql.ts
  backend/packages/database/src/scripts/introspect.ts
  backend/packages/database/src/scripts/migrate.ts
  backend/packages/database/src/scripts/populate-seed.ts
  backend/packages/database/src/scripts/reset-db.ts
  backend/packages/database/src/scripts/setup-db.ts
  backend/packages/database/src/scripts/truncate-seed.ts
  backend/packages/domain/package.json
  backend/packages/generated/package.json
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  backend/packages/infrastructure/package.json
  backend/packages/utility/package.json
  docker-compose.yml
Owners: @your-github-username, @devops-team, @backend-team

Fix ref source file
  .github/workflows/ci.yml
Owners: @devops-team

Allocate namespace ref source file
  .env.test.ci
  .github/workflows/ci.yml
Owners: @your-github-username, @devops-team

Polish envfile
  .env.development
  .env.localhost
  .env.production
  .env.staging
  .env.template
  .env.test
  backend/apps/server/src/index.ts
  backend/packages/config/package.json
  backend/packages/config/rslib.config.ts
  backend/packages/config/src/env-loader.ts
  backend/packages/config/src/env.ts
  backend/packages/config/src/index.ts
  backend/packages/config/src/node-env.d.ts
  backend/packages/database/drizzle.config.ts
  backend/packages/database/package.json
  backend/packages/database/src/scripts/generate-setup-sql.ts
  backend/packages/database/src/scripts/introspect.ts
  backend/packages/database/src/scripts/migrate.ts
  backend/packages/database/src/scripts/populate-seed.ts
  backend/packages/database/src/scripts/reset-db.ts
  backend/packages/database/src/scripts/setup-db.ts
  backend/packages/database/src/scripts/truncate-seed.ts
  backend/packages/database/src/seeds/seed.ts
  backend/packages/domain/vitest.config.ts
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  backend/packages/infrastructure/drizzle.config.ts
  backend/packages/infrastructure/src/database/index.ts
  pnpm-lock.yaml
Owners: @your-github-username, @backend-team

Update envfile, gh workflow
  .env.development
  .env.example
  .env.localhost
  .env.production
  .env.staging
  .env.template
  .env.test
  .env.test.ci
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @your-github-username, @devops-team

Uniform envfile kitting (#27)
  .env.development
  .env.example
  .env.localhost
  .env.production
  .env.staging
  .env.template
  .env.test.ci
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Makefile
  backend/apps/server/src/index.ts
  backend/packages/api/package.json
  backend/packages/config/package.json
  backend/packages/config/rslib.config.ts
  backend/packages/config/src/env-loader.ts
  backend/packages/config/src/env.ts
  backend/packages/config/src/index.ts
  backend/packages/config/src/node-env.d.ts
  backend/packages/database/drizzle.config.ts
  backend/packages/database/package.json
  backend/packages/database/sql/setup.sql
  backend/packages/database/src/scripts/generate-setup-sql.ts
  backend/packages/database/src/scripts/introspect.ts
  backend/packages/database/src/scripts/migrate.ts
  backend/packages/database/src/scripts/populate-seed.ts
  backend/packages/database/src/scripts/reset-db.ts
  backend/packages/database/src/scripts/setup-db.ts
  backend/packages/database/src/scripts/truncate-seed.ts
  backend/packages/database/src/seeds/seed.ts
  backend/packages/domain/package.json
  backend/packages/domain/vitest.config.ts
  backend/packages/generated/package.json
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  backend/packages/infrastructure/drizzle.config.ts
  backend/packages/infrastructure/package.json
  backend/packages/infrastructure/src/database/index.ts
  backend/packages/utility/package.json
  docker-compose.yml
  pnpm-lock.yaml
Owners: @your-github-username, @devops-team, @backend-team

Change constractor di method
  .claude/agents/backend-typescript-architect.md
  CLAUDE.md
  Makefile
  backend/packages/api/src/routes/salon/create-salon.handler.ts
  backend/packages/api/src/routes/salon/delete-salon.handler.ts
  backend/packages/api/src/routes/salon/get-salon.handler.ts
  backend/packages/api/src/routes/salon/list-salons.handler.ts
  backend/packages/api/src/routes/salon/search-salons.handler.ts
  backend/packages/api/src/routes/salon/update-salon.handler.ts
  backend/packages/config/package.json
  backend/packages/database/sql/setup.sql
  backend/packages/domain/src/business-logic/salon/_shared/base-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/_shared/dependencies.ts
  backend/packages/domain/src/business-logic/salon/create-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/delete-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/get-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/index.ts
  backend/packages/domain/src/business-logic/salon/list-salons.usecase.ts
  backend/packages/domain/src/business-logic/salon/search-salons.usecase.ts
  backend/packages/domain/src/business-logic/salon/update-salon.usecase.ts
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  docs/api-db-type-constraints-mapping.md
  docs/api-route-modular-structure.md
  docs/api-testing-guide.md
  docs/architecture-overview.md
  docs/backend-architecture-guidelines.md
  docs/cleanup-policy.md
  docs/db-driven-domain-model.md
  docs/domain-implementation-reference.md
  docs/sum-types-pattern-matching.md
  docs/testing-requirements.md
  docs/uniform-implementation-guide.md
Owners: @docs-team, @devops-team, @backend-team

Update docs
  CLAUDE.md
  docs/api-db-type-constraints-mapping.md
  docs/architecture-overview.md
  docs/backend-architecture-guidelines.md
  docs/db-driven-domain-model.md
  docs/domain-implementation-reference.md
Owners: @docs-team

Change constractor di method (#28)
  .claude/agents/backend-typescript-architect.md
  CLAUDE.md
  Makefile
  backend/packages/api/src/routes/salon/create-salon.handler.ts
  backend/packages/api/src/routes/salon/delete-salon.handler.ts
  backend/packages/api/src/routes/salon/get-salon.handler.ts
  backend/packages/api/src/routes/salon/list-salons.handler.ts
  backend/packages/api/src/routes/salon/search-salons.handler.ts
  backend/packages/api/src/routes/salon/update-salon.handler.ts
  backend/packages/config/package.json
  backend/packages/database/sql/setup.sql
  backend/packages/domain/src/business-logic/salon/_shared/base-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/_shared/dependencies.ts
  backend/packages/domain/src/business-logic/salon/create-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/delete-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/get-salon.usecase.ts
  backend/packages/domain/src/business-logic/salon/index.ts
  backend/packages/domain/src/business-logic/salon/list-salons.usecase.ts
  backend/packages/domain/src/business-logic/salon/search-salons.usecase.ts
  backend/packages/domain/src/business-logic/salon/update-salon.usecase.ts
  backend/packages/generated/src/api-types.ts
  backend/packages/generated/src/index.ts
  docs/api-db-type-constraints-mapping.md
  docs/api-route-modular-structure.md
  docs/api-testing-guide.md
  docs/architecture-overview.md
  docs/backend-architecture-guidelines.md
  docs/cleanup-policy.md
  docs/db-driven-domain-model.md
  docs/domain-implementation-reference.md
  docs/sum-types-pattern-matching.md
  docs/testing-requirements.md
  docs/uniform-implementation-guide.md
Owners: @docs-team, @devops-team, @backend-team

Update config env loader,database truncating method
  backend/packages/config/src/env-loader.ts
  backend/packages/database/src/seeds/seed.ts
Owners: @backend-team

Update config env loader,database truncating method (#29)
  backend/packages/config/src/env-loader.ts
  backend/packages/database/src/seeds/seed.ts
Owners: @backend-team

Polish development scripts
  CLAUDE.md
  README.md
  docs/architecture-overview.md
  docs/deploy-backend.md
  docs/frontend-api-integration.md
  package.json
  scripts/dev-watch-frontend.ts
  scripts/dev-watch.backend.ts
Owners: @docs-team, @your-github-username

Align schema with drizzle introspect output
  backend/packages/database/src/relations.ts
  backend/packages/database/src/schema.ts
Owners: @backend-team

Resync schema
  backend/packages/database/src/relations.ts
  backend/packages/database/src/schema.ts
Owners: @backend-team

.github/CODEOWNERS:

# これは CODEOWNERS ファイルのサンプルです。
# プロジェクトに合わせて適切に設定してください。

# デフォルトのコードオーナー
* @your-github-username

# バックエンド関連
/backend/ @backend-team
/specs/ @backend-team

# フロントエンド関連
/frontend/ @frontend-team

# インフラ・設定関連
/docker-compose.yml @devops-team
/Dockerfile @devops-team
/.github/ @devops-team
/Makefile @devops-team

# ドキュメント
/docs/ @docs-team
*.md @docs-team
